@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: #4C6CB2;
    font-weight: 400;
    color: #FFF;
    border-bottom-right-radius: 3em;
    margin-right: 2rem;
    font-size: 1.5em;
    text-shadow: 0.1em 0.1em #1E2B47;
    box-shadow: 0.1em 0.1em #888888;
}

a {
    text-decoration: none;
    padding: 0 1em;
    font-weight: 400;
    color: #FFF;
}

// img {
//     width: 20rem;
// }

.events {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #1E2B47;
    font-size: 2em;
    margin: 3em;
    background-color: #2C5CC3;


}

.card {
    margin-top: 1em;
    background-color: #D3D4DD;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0.1em 0.1em #888888;
}

.button {

    // position: absolute;
    // right: 2em;
    // top: 3em;
    width: 10em;
    height: 2em;
    background-color: #2C5CC3;
    color: #FFF;
    border: none;
    border-radius: 0.3em;
    box-shadow: 0.1em 0.1em #464545;
    text-shadow: 0.1em 0.1em #464545;
    font-size: 0.5em;
    transition: 0.7s;
}

.button:hover {
    background-color: #9B2CC3;
}

.button__register {
    float: right;
}

.small-cards {
    display: grid;
    column-gap: 1em;
    row-gap: 1em;
    margin: 2em;
    background-color: #c7d0e4;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0.1em 0.1em #888888;

    .small-card {
        display: block;
        min-height: auto;
        text-align: center;
        background-color: #8591AC;
        border-radius: 1em;
        padding: 1em;

    }
}